@model Capstone_RPG_Manager.Models.UtentiTab

@{
    ViewBag.Title = "DMScreen";
}

<h2 class="text-center my-5">Dungeon Master Screen</h2>

<div class="container">
    <div class="row row-cols-md-6">
        <div class="col">

        </div>
    </div>
</div>