@model Capstone_RPG_Manager.Models.UtentiTab

@{
    ViewBag.Title = "DMScreen";
}

<h2 class="text-center my-5">Dungeon Master Screen</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            @{ Html.RenderAction("PWSettingsListByDM", "AmbientazioniTab");}
        </div>
        <div class="col-6">
            aaaaa
        </div>
    </div>
</div>